body, div{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;

}
.nav-items{
  list-style: none;
  display: flex;
  color: white;
}
.nav-items li{
  margin: 10px;
}
.logo{
  width: 50px;
}
.main-div{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(253, 253, 253);
}
.footer{
  background-color:antiquewhite;
  font-size: larger;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}